<footer class="footer">
    <div>
        <span> &copy; <%= new Date().getFullYear(); %> Blacklifth</span>
    </div>
    <div>
        <p> Node Express EJS MongoDB Project</p>
    </div>
    <div class="footer__socials">
        <ul class="ul__socials">
            <li class="li__socials">
                <a>linkdln</a>
            </li>
        </ul>
    </div>
</footer>