<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>

<body>
    <header>
        <nav>
            <h1>nav</h1>
        </nav>
    </header>

    <%- body %>

        <footer>
            <h1>footer</h1>
        </footer>
</body>

</html>